@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

@font-face {
  font-family: "Big John";
  font-display: swap;
  src: url("../fonts/BIG JOHN.woff") format("woff"), url("../fonts/BIG JOHN.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #ffffff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__column {
  padding: 0px 15px;
}

.form__error {
  color: red;
}

.form__flex {
  width: 33.333333%;
  padding-right: 28px;
}

.form__flex:last-child {
  padding-right: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border: 1px solid #d8dce0;
  height: 50px;
  border-radius: 0 !important;
  margin: 0px 0px 20px 0px;
  width: 100%;
  display: block;
  padding: 0px 20px;
  background-color: transparent;
  color: #a9a9a9;
}

.input._error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 18px 22px;
  height: 195px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  height: 550px;
  overflow: hidden;
  position: relative;
}

.video:hover .controls {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}

.video video {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
  object-fit: cover;
}

.video .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(100%) translateY(-3px);
  -ms-transform: translateY(100%) translateY(-3px);
      transform: translateY(100%) translateY(-3px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.video .controls progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  color: #2ab6b1;
  background-color: #000;
}

.video .controls progress::-moz-progress-bar {
  color: #2ab6b1;
  background-color: #000;
}

.video .controls progress::-webkit-progress-bar {
  color: #2ab6b1;
  background-color: #000;
}

.video .controls .buttons {
  padding: 10px;
}

.video .controls .buttons button {
  padding: 1px 5px;
}

.video .controls .buttons .play-pause {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.video .controls .buttons .play-pause::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 23px;
  background: url("../img/video/icon-play.png") center/cover no-repeat;
}

.video .controls .buttons .play::before {
  content: "";
  background: url("../img/video/icon-play.png") center/cover no-repeat;
}

.video .controls .buttons .pause::before {
  content: "";
  background: url("../img/video/icon-pause.png") center/cover no-repeat;
}

.video .controls .buttons .stop {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.video .controls .buttons .stop::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 23px;
  background: url("../img/video/icon-stop.png") center/cover no-repeat;
}

.video .controls .buttons .mute {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.video .controls .buttons .mute::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("../img/video/icon-mute-on.png") center/cover no-repeat;
}

.video .controls .buttons .mute-on::before {
  content: "";
  background: url("../img/video/icon-mute-on.png") center/cover no-repeat;
}

.video .controls .buttons .mute-off::before {
  content: "";
  background: url("../img/video/icon-mute-off.png") center/cover no-repeat;
}

.video .btn-play-main {
  width: 104px;
  height: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
  background: url("../img/video/play.png") center/cover no-repeat;
  opacity: .15;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.video .btn-play-main:hover {
  opacity: 1;
  cursor: pointer;
}

.video .button-main-hidden {
  display: none;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._swiper.swiper-container-vertical > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slider__navigation {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  padding-top: 60px;
  left: 45%;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination--two {
  position: absolute;
  margin-top: -60px;
  left: 45%;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination--three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-top: -25%;
  right: 0%;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination--three .swiper-pagination-bullet {
  margin: 5px 0;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background-color: inherit;
  border: 1px solid #19bd9a;
  margin: 0 5px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #19bd9a;
  border: 1px solid #19bd9a;
}

.swiper-arrows {
  position: relative;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(44px / 44 * 27);
  height: 44px;
  margin-top: -20%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #007aff;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 44px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0px;
  right: auto;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0px;
  left: auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* .header__inner */
  /* .header__logo */
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header__logo {
  color: #fff;
  font-family: "Big John";
  font-size: 25px;
  font-weight: 400;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #75634c;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  /* .nav__link */
}

.header .nav__link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 17px;
  -webkit-transition: color .1s linear;
  -o-transition: color .1s linear;
  transition: color .1s linear;
}

.header .nav__link:hover,
.header .nav__link._active {
  border: 1px solid #fff;
}

.header .nav-toggle {
  width: 30px;
  padding: 40px 0;
  display: none;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 24px;
  z-index: 1;
  /* .nav-toggle__item */
}

.header .nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .nav-toggle__item:before,
.header .nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .nav-toggle__item:before {
  top: -8px;
}

.header .nav-toggle__item:after {
  bottom: -8px;
}

.header .nav-toggle.active .nav-toggle__item {
  background: none;
}

.header .nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3d(0px, -2px, 0);
          transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.header .nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3d(0px, 3px, 0);
          transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.footer__content {
  max-width: 300px;
  padding: 80px 15px;
  margin: 0px auto;
  text-align: center;
}

.footer__title {
  color: #323a45;
  font-family: "Big John";
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 24px;
}

.footer__subtitle {
  color: #81868e;
  letter-spacing: 0.7px;
  margin-bottom: 37px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .icon {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0px 5px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.intro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.intro__inner {
  width: 100%;
  max-width: 605px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.intro__title {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 40px;
}

.intro__subtitle {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 50px;
}

.about__container {
  max-width: 850px;
}

.about__inner {
  padding: 80px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  max-width: 470px;
  text-align: left;
}

.about__title {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 34px 0px 49px 0px;
}

.about__text {
  color: #81868e;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.7px;
  margin-bottom: 33px;
}

.btnw {
  display: inline-block;
  vertical-align: top;
  padding: 12px 30px;
  border: 1px solid #333b46;
  border-radius: 19px;
  color: #333b46;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btnw:hover {
  background-color: #333333;
  color: #f1ad1d;
}

.details {
  background-color: #f3f3f3;
}

.details__container {
  padding: 80px 15px 100px 15px;
}

.details__inner {
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
}

.details__title {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.details__subtitle {
  color: #81868e;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.7px;
  margin-bottom: 60px;
}

.details__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__icon {
  margin-right: 27px;
}

.details__circle {
  width: 53px;
  height: 53px;
  background-color: #81868e;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.details__circle:hover {
  background-color: #19bd9a;
}

.details__body {
  max-width: 970px;
  margin: 0 auto;
}

.details__suptitle {
  color: #464646;
  font-size: 20px;
  font-weight: 400;
  line-height: 125px;
  text-align: left;
  letter-spacing: 0.8px;
}

.details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__textleft {
  max-width: 322px;
  margin-right: 120px;
  color: #81868e;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.8px;
}

.details__textright {
  max-width: 520px;
  color: #81868e;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.7px;
}

.green {
  color: #19bd9a;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.lightblue {
  color: #636971;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.feature__inner {
  padding: 80px 0px 0px 0px;
}

.feature__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__work {
  width: 50%;
}

.feature__item {
  width: 25%;
}

.feature__body {
  position: relative;
  background-color: #19bd9a;
  cursor: pointer;
}

.feature__body:hover .feature__img img {
  opacity: .1;
}

.feature__body:hover .feature__text {
  opacity: 1;
}

.feature__img {
  background: rgba(0, 0, 0, 0.85);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.feature__img img {
  display: block;
  min-width: 100%;
  height: 391px;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature__text {
  width: 100%;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 12px;
  letter-spacing: 4px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.feature__footer {
  position: relative;
}

.feature__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.feature__content {
  padding: 38px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__suptitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.8px;
}

.feature__suptitle .bold {
  font-weight: 700;
}

.btnw--white {
  border: 1px solid #fff;
  color: #fff;
}

.services {
  background-color: #f3f3f3;
}

.services__container {
  padding: 80px 15px 135px 15px;
  max-width: 1060px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  width: 50%;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__circle {
  margin: 0px 44px 17px 0px;
}

.services__suptitle {
  line-height: 1;
  margin-bottom: 34px;
}

.services__text {
  margin-bottom: 42px;
  max-width: 400px;
  margin-right: 0;
}

.services__text:last-child {
  margin-bottom: 0;
}

.services__name {
  text-align: center;
  color: #81868e;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.8px;
}

.services__pie {
  display: inline-block;
  margin: 1.5em;
  width: 9em;
  height: 9em;
  position: relative;
  border-radius: 50%;
}

.services__pie:after {
  border-radius: 50%;
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  left: .5em;
  top: .5em;
  height: 8em;
  width: 8em;
}

.services__textcenter {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 40%;
  left: 0%;
  color: #81868e;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-align: center;
  z-index: 10000;
}

.p1 {
  background-image: -o-linear-gradient(288deg, transparent 50%, #19bd9a 50%), -o-linear-gradient(right, #047378 50%, #19bd9a 50%);
  background-image: linear-gradient(162deg, transparent 50%, #19bd9a 50%), linear-gradient(270deg, #047378 50%, #19bd9a 50%);
}

.p2 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #19bd9a)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #047378), color-stop(50%, #19bd9a));
  background-image: -o-linear-gradient(right, transparent 50%, #19bd9a 50%), -o-linear-gradient(top, #047378 50%, #19bd9a 50%);
  background-image: linear-gradient(270deg, transparent 50%, #19bd9a 50%), linear-gradient(180deg, #047378 50%, #19bd9a 50%);
}

.p3 {
  background-image: -o-linear-gradient(216deg, transparent 50%, #19bd9a 50%), -o-linear-gradient(right, #047378 50%, #19bd9a 50%);
  background-image: linear-gradient(234deg, transparent 50%, #19bd9a 50%), linear-gradient(270deg, #047378 50%, #19bd9a 50%);
}

.percent {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.quotes {
  position: relative;
}

.quotes__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.quotes__container {
  padding: 80px 15px;
}

.quotes__body {
  position: relative;
}

.quotes__title {
  color: #f3f3f3;
}

.quotes__text {
  color: #b2b3b3;
  max-width: 600px;
  margin-bottom: 34px;
}

.quotes__name {
  color: #b2b3b3;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.quotes__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 60%;
}

.portfolio {
  background-color: #f3f3f3;
}

.portfolio__container {
  padding: 80px 15px;
  max-width: 1140px;
}

.portfolio__section {
  margin-top: 70px;
}

.portfolio__navigation {
  text-align: center;
}

.portfolio__list li {
  display: inline;
  margin: 0px 12px;
}

.portfolio__list li:first-child {
  margin-left: 0;
}

.portfolio__list a {
  text-decoration: none;
  font-size: 14px;
  border: solid 1px #333333;
  padding: 10px 40px;
  color: #333333;
}

.portfolio__list a:hover {
  text-decoration: none;
  background-color: #333333;
  color: #f1ad1d;
}

.portfolio__list a.active {
  text-decoration: none;
  background-color: #333333;
  color: #f1ad1d;
}

.portfolio__items {
  margin: 40px 0;
}

.portfolio__items * {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.portfolio__item {
  margin: 2px;
  position: relative;
  display: inline-block;
}

.portfolio__item img {
  display: block;
  position: relative;
}

.portfolio__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 2px #333333;
  padding: 0 35px;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__info:hover {
  cursor: pointer;
  opacity: 1;
}

.portfolio__subject {
  color: #19bd9a;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.portfolio__sep {
  display: inline-block;
  width: 23px;
  height: 1px;
  margin: 20px 0px 32px;
  background-color: #19bd9a;
}

.portfolio__p {
  color: #b2b3b3;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 10%;
}

.portfolio__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  margin-right: 6px;
}

.portfolio__footer {
  position: relative;
}

.portfolio__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.portfolio__bg img {
  max-width: 1092px;
  margin-left: 2px;
}

.portfolio__content {
  position: relative;
  text-align: center;
  padding: 58px 0;
}

.portfolio__suptitle {
  margin-bottom: 29px;
}

.team__container {
  padding: 80px 15px 170px;
}

.team__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__column {
  text-align: right;
  padding: 0px 40px;
}

.team__footer {
  position: relative;
}

.team__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.team__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 58px 0px;
}

.team__suptitle {
  margin-bottom: 30px;
}

.profile__name {
  text-align: right;
  line-height: 1;
  margin-bottom: 15px;
}

.profile__prof {
  color: #81868e;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 32px;
}

.profile__text {
  max-width: 370px;
  text-align: right;
  margin-bottom: 48px;
}

.profile__skills {
  padding: 0px 0px 0px 37px;
}

.profile__skill {
  margin-bottom: 30px;
}

.profile__skill:last-child {
  margin-bottom: 0;
}

.profile__skill:last-child .profile__line:after {
  width: 75%;
}

.profile__skill:first-child .profile__line:after {
  width: 80%;
}

.profile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile__title,
.profile__percent {
  color: #81868e;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.profile__line {
  width: 100%;
  height: 4px;
  background-color: #e1e4e9;
  position: relative;
}

.profile__line:after {
  content: '';
  position: absolute;
  width: 65%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #19bd9a;
}

.testimonilas {
  background-color: #f3f3f3;
}

.testimonilas__container {
  padding: 80px 15px;
}

.testimonilas__body {
  max-width: 1170px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 116px 120px 100px;
  margin: 0px auto;
}

.testimonilas__image {
  margin-right: 70px;
}

.testimonilas__content {
  text-align: left;
}

.testimonilas__text {
  color: #81868e;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}

.testimonilas__name {
  color: #19bd9a;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  margin-bottom: 5px;
}

.testimonilas__prof {
  color: #464646;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}

.blog {
  position: relative;
}

.blog__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog__container {
  max-width: 1170px;
  padding: 100px 15px;
}

.blog__slider {
  height: 625px;
}

.blog__slide {
  position: relative;
  width: 100%;
}

.blog__content {
  max-width: 655px;
}

.blog__content--slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog__title {
  position: relative;
  color: #ffffff;
}

.blog__title--slider {
  margin-top: 108px;
}

.blog__subtitle {
  max-width: 460px;
  margin-bottom: 100px;
  color: #b2b3b3;
}

.blog__subtitle--slider {
  margin-bottom: 0;
}

.blog__body {
  padding-left: 70px;
}

.blog__suptitle {
  color: #e1e4e9;
  line-height: 1;
  margin-bottom: 12px;
}

.blog__name {
  color: #19bd9a;
  margin-bottom: 20px;
}

.blog__socials {
  color: #464646;
  font-style: normal;
  text-transform: none;
  margin-bottom: 60px;
}

.blog__text {
  margin-bottom: 50px;
}

.blog .by {
  color: #81868e;
}

.noactive {
  display: none;
}

.price {
  background-color: #f3f3f3;
}

.price__container {
  max-width: 865px;
  padding: 80px 15px 100px;
  margin: 0 auto;
}

.price__plans * {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card {
  width: 234px;
  height: 302px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.card__item {
  position: relative;
}

.card__title {
  background-color: #19bd9a;
  padding: 27px 0;
  margin-bottom: 67px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.card__price {
  color: #1fbba6;
  font-family: "Source Sans Pro";
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 10px;
}

.card__data {
  color: #81868e;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}

.card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__info:hover {
  opacity: 1;
}

.card__column {
  padding: 27px 40px;
}

.card__text {
  text-align: left;
  color: #81868e;
  line-height: 30px;
  letter-spacing: 0.7px;
}

.card__btn {
  padding: 28px 0;
  background-color: #19bd9a;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.subscribe {
  position: relative;
}

.subscribe__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.subscribe__container {
  max-width: 550px;
  margin: 0px auto;
  text-align: center;
}

.subscribe__inner {
  position: relative;
  padding: 80px 0px;
}

.subscribe__title {
  color: #ffffff;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 8px 0px 0px;
}

.subscribe__input .input {
  width: 100%;
  height: 41px;
  border: 1px solid #81868e;
  background-color: transparent;
  padding: 0px 23px;
  color: #cfd3d4;
  letter-spacing: 0.14px;
}

.subscribe__input .input._error {
  border: 1px solid red;
}

.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.subscribe__btn {
  width: 100%;
  height: 41px;
  line-height: 41px;
  color: #fff;
  text-transform: uppercase;
  background-color: #19bd9a;
  letter-spacing: 0.14px;
}

.contact {
  background-color: #f3f3f3;
}

.contact__container {
  padding: 80px 15px 100px;
}

.contact__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__detail {
  margin-bottom: 20px;
}

.contact__item {
  width: 287px;
  height: 272px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.contact__img {
  position: relative;
}

.contact__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content {
  padding: 30px 42px;
  text-align: center;
  text-transform: uppercase;
}

.contact__suptitle {
  color: #464646;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.64px;
  margin-bottom: 15px;
}

.contact__text {
  color: #81868e;
  line-height: 20px;
  letter-spacing: 0.7px;
}

.contact-form__container {
  max-width: 970px;
  padding: 80px 15px 100px;
  margin: 0px auto;
}

.contact-form button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact-form .btn {
  width: 100%;
  height: 41px;
  line-height: 41px;
  color: #fff;
  text-transform: uppercase;
  background-color: #19bd9a;
  letter-spacing: 0.14px;
}

.block__map {
  height: 500px;
}

@media (max-width: 1127px) {
  .portfolio__list a {
    display: inline-block;
    margin: 10px 0;
  }
}

@media (max-width: 1125px) {
  .portfolio__items {
    width: 868px;
    margin: 25px auto;
  }
}

@media (max-width: 991.98px) {
  .details__suptitle {
    text-align: center;
  }

  .details__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .details__textleft {
    max-width: none;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .details__textright {
    max-width: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .feature__work {
    width: 100%;
  }

  .feature__item {
    width: 50%;
  }

  .feature__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feature__suptitle {
    margin-bottom: 20px;
    text-align: center;
  }

  .services__item {
    width: 100%;
  }

  .services__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .quotes__container {
    text-align: center;
  }

  .quotes__body {
    margin-bottom: 20px;
  }

  .quotes__img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .quotes__img img {
    max-width: 100%;
  }

  .profile__name {
    text-align: right;
  }

  .testimonilas__body {
    padding: 50px 15px 120px;
  }
}

@media (max-width: 855px) {
  .portfolio__items {
    width: 572px;
  }
}

@media (max-width: 770px) {
  .header .nav {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #75634c;
    padding-top: 80px;
    overflow: auto;
  }

  .header .nav.active {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .nav__link {
    margin: 0;
    padding: 20px 0;
  }

  .header .nav-toggle {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .swiper-pagination--three {
    margin-top: -40%;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content {
    margin-bottom: 20px;
    text-align: center;
  }

  .feature__item {
    width: 100%;
  }

  .team__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .team__column {
    text-align: center;
    padding: 0px 0;
  }

  .team__img {
    padding-bottom: 20px;
  }

  .profile__name {
    text-align: center;
  }

  .profile__skills {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 587px) {
  .form__flex {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 580px) {
  .portfolio__items {
    width: 285px;
  }
}

@media (max-width: 491.98px) {
  .blog__title--slider {
    margin-top: 50px;
  }

  .blog__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  .swiper-pagination--three {
    margin-top: -80%;
  }

  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .services__circle {
    margin: 0px 10px;
  }

  .testimonilas__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .testimonilas__image {
    margin: 0 0 20px;
  }

  .testimonilas__content {
    text-align: center;
  }

  .blog__content {
    text-align: center;
  }

  .blog__body {
    padding: 0px 0px 0px 0px;
  }

  .blog__socials {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -50%;
  }
}

@media (width: 320px) {
  .swiper-pagination--three {
    margin-top: -100%;
  }
}